<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Web App</title>
  </head>
  <body>
    <h1>Welcome to Flask Web Application</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sed placeat
      in numquam nulla eaque modi molestiae! Ipsam, similique deserunt harum
      repellendus laudantium enim voluptatibus ab accusamus incidunt numquam
      necessitatibus.
    </p>
  </body>
</html>
